body {
    display: grid;
    height: 100vh;
    place-items: center;
    align-items: center;
    
}

#button {
    margin-left: 150px;
    margin-top: 20px;
}

#res {
    margin-top: 50px;
    margin-left: 100px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}

.sinais {
    border: 3px solid;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    background-color: white;
    border-radius: 10px;
}

.sinais:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.767);
}


#sinal {
   margin-left: 107px; 
   font-size: 40px;
}

#num1 {
    margin: 20px;
}

#num2 {
    margin: 20px;
}

.container {
    background-color: rgba(255, 0, 0, 0.603);
    border-radius: 20px;
    box-shadow: 8px 8px 8px;
    border: 4px solid;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 3px black;
    color: white;
    font-size: 2.5em;
}

input {
    padding: 10px;
}