input:valid {
    border: 2px solid rgb(140, 216, 26);
}

input:invalid {
    border: 2px solid red;
}


#ok-nome {
   display: none;
   padding: 3px;
   background-color: green;
    margin-top: 5px;
    text-align: center;
    width: 170px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    
}

#ok-idade {
    display: none;
   padding: 3px;
   background-color: green;
    margin-top: 5px;
    text-align: center;
    width: 170px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}

#ok-profissao {
    display: none;
   padding: 3px;
   background-color: green;
    margin-top: 5px;
    text-align: center;
    width: 170px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    
}

#ok-salario {
    display: none;
   padding: 3px;
   background-color: green;
    margin-top: 5px;
    text-align: center;
    width: 170px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}

.container {
   display: grid;
   justify-content: center;
   border: 5px solid;
   border-radius: 10px;
    background-color: rgba(218, 165, 32, 0.849);
    width: 500px;
    margin: auto;
    box-shadow: 7px 7px 7px black;
}

.analisar-dados{
    margin: auto;
    border: 3px solid;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 7px 7px 7px black;
}

#analisar {
    width: 100%;
}

.preenchidos {
    display: grid;
    gap: 10px;
    width: 300px;
    height: 200px;
}

.botao {
    width: 100%;
    margin-top: 5px;
}

input {
    text-align: center;
    padding: 3px;
    font-size: 1.3em;
    border-radius: 5px;
    cursor: pointer;
}

.display {
display: grid;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}