h1{
    text-align: center;
    letter-spacing: 3px;
    transition: 1s;
    margin: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 3em;
    border: 3px solid;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid ;
    width: 400px;
    height: 400px;
    box-shadow: 1px 2px 7px 7px black;
    border-radius: 0px 50% 0px;
    background-color: rgba(95, 158, 160, 0.808);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

button {
    margin: 10px;
    font-size: 1.3em;
    cursor: pointer;
    padding: 7px;
    width: 150px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    transition: 1s;
    text-align: center;
}

button:hover{
    transition: .5s;
    background-color: rgba(0, 128, 0, 0.726);
}


@keyframes show1 {
    from {
        
        transform: scale(0);
        filter: blur(20px);
    }
    to {
        transform: scale(1);
        filter: blur(0);
        
    }
}

.show {
    animation: show1 .3s ease-in-out forwards;
    
}

