#container {
    width: 350px;
    height: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    word-wrap: break-word;
    
}

input {
    cursor: pointer;
    width: 75px;
    height: 50px;
    margin: 5px;
    border: 2px solid;
    border-radius: 3px;
    
 }
 
.botao:hover {
background-color: rgba(0, 0, 0, 0.856);
color: white;
}

 h1 {
    
 }

 .display {
    display: grid;
    width: 245px;
    margin-bottom: 5px;
    border: 3px solid;
    text-align: center;
    font-size: 2em;
}

body {
    background-color: rgba(44, 153, 34, 0.712);
}

#resultado{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 300px;
    border: 3px solid;
    
    
    
}

#numero-sort{
    
    font-size: 1.7em;
    
}

.class-sort {
    animation:  sort 5s linear infinite;
    font-weight: bold;
    text-decoration: underline;
}

@keyframes sort {
    from {
        color: rgb(243, 55, 22);
    }
    to {
        color: rgb(46, 22, 185);
    }
}