* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-left: 70px;
}

.container fieldset{
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 30px;
   color: blueviolet;
   text-shadow: 1px 1px 1px white;
   background-color: black;
   position: relative;
}

legend{
    font-size: 1.7rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 5px;
    border-top: 1px dotted;
    border-radius: 8px;
    background-color: black;
}

legend::first-letter{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: red;
}

.container fieldset button {
    margin: 0px 7px;
    padding: 3px;
    font-weight: bold;
    font-size: 1.1rem;
}

.container fieldset :nth-child(2){
    font-size: 1.4rem;
    font-weight: bold;
}

.container fieldset :nth-child(6){
    font-size: 1.4rem;
    font-weight: bold;
    
}


.container fieldset input{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    
}

img {
    width: 200px;
    border-radius: 10px;
    
}

.icon img{
    width: 40px;
    height: 25px;
    float: right;
    background-color: rgb(248, 248, 248);
    margin-top: 5px;
}

@keyframes sharingan {
    from{
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
    }
}


.gif-open{
    transition: 1s;
    animation: sharingan .5s ease-in forwards;
}

.icon:hover{
    cursor: pointer;
    
}

button:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: .3s;
}

.background-Gif > img{
min-width: 100vw;
min-height: 100vh;
z-index: -1;
position: absolute;
}

#icone-forte img{
    width: 25px;
    height: 25px;
    
}

#icone-forte{
    display: none;
    position: absolute;
    right: 100px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-shadow: 2px 2px 20px white;
}