@keyframes cor{
    from{
       color: blueviolet;
    
    }

    to {
        color: aqua;
    }
}

.cor {
    animation: cor 3s linear infinite
    
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div{
    border: 5px solid purple;
    padding: 10px;
    text-align: center;
    border-radius: 5px 80px 5px;
    width: 300px;
    background-color:black;
    box-shadow: 7px 7px 7px;
}

p{
    font-size: 2em;
}

h1{
    color: white;
}